@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');

@import "bootstrap/dist/css/bootstrap.min.css";
@import "tailwindcss";


/* components */
@import "./components/style/header.css"; /* nav */
@import "./components/style/banner.css"; /* banner */

/* page */
@import "./register/style.css";          /* register page */
@import "./admin/style.css";             /* admin page */
@import "./book/bookpage.css";           /* book page */


:root {
    /* --background: #ffffff;
    --foreground: #171717;
    --secondary: #dee2e6; */
    
    --background: #2a2b2a; 
    --foreground: #ededed;
    --secondary: #495057;
    
    --primary:#FF794C;

    --invalid: red;
    --valid:   green;


    --minWidthColsSystem:1180px;
    --numOfColsSystem:12;
    --widthOfColsSystem:80px;
    --gapOfColsSystem:20px;

    --colsOfCard:span 3;
    --pdpagegrid:span 6;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #2a2b2a; 
        --foreground: #ededed;
        --secondary: #495057;
    }
} */


/* PC */
@media only screen and (min-width: 1180px){
    /* 
        12cols
        gridsystem : 1180px
        colsOfCard : 3
    */
    :root{
        --minWidthColsSystem:1180px;
        --numOfColsSystem:12;
        --widthOfColsSystem:80px;
        --gapOfColsSystem:20px;

        --colsOfCard:span 3;

        --pdpagegrid:span 6;

    }
    .generalinfo{
        grid-column: span 4;
    }
}
/* TABLET */
@media only screen and (max-width: 1180px) and (min-width:721px) {
    /* 
        6cols
        gridsystem full man hinh
        colsOfCard : 2
    */
    :root{
        --minWidthColsSystem:720px;

        --numOfColsSystem:6;
        --widthOfColsSystem:13.8%;
        --gapOfColsSystem:3vw;

        --colsOfCard:span 2;

        --pdpagegrid:span 6;

    }
    nav{
        .sunnyhilllogo{
            grid-column: span 1 !important;
        }
        .regis{
            grid-column: 6/7 ;

        }
        .re_searchbox{
            display: none !important;
        }
    }
    .generalinfo{
        grid-column: span 2 !important;
    }

}
/* MOBILE */
@media only screen and (max-width: 720px) {
    /* 
        6cols
        gridsystem full man hinh
        colsOfCard : 3
    */
    :root{
        --minWidthColsSystem: 100% ;
        --numOfColsSystem:6;
        --widthOfColsSystem:13.8vw;
        --gapOfColsSystem:3vw;

        --colsOfCard:span 3;

        --pdpagegrid:span 6;
    }
    nav{
        .sunnyhilllogo{
            grid-column: 1/2 !important;
        }
        .regis{
            grid-column: 6/7;

        }
        .re_searchbox{
            display: none !important;
        }
    }
    .generalinfo{
        grid-column: span 2 !important;
    }
    
    
}

body {
    background: var(--background);
    /* background-image: url('../../public/6085221.jpg'); */
    background-image: url('../../public/bkpattern.jpg');
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.gridsys{
    min-width: var(--minWidthColsSystem);
    display: grid;
    grid-template-columns: repeat(
        var(--numOfColsSystem),
        var(--widthOfColsSystem)
    );
    justify-content: center;
    align-items: center;
    gap: var(--gapOfColsSystem);
    hr {
        width: 100%;
        grid-column: span var(--numOfColsSystem);
    }
    .fullcol{
        grid-column: span var(--numOfColsSystem);
    }
    .card {
        grid-column: var(--colsOfCard);
    }
    p,Link{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
input:not([type=submit]),textarea,select{
    background: var(--secondary);
    border: none;
    margin: 5px 0 ;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    /* &[type=submit]{
        background-color: blue;
    } */
}
input[type=submit]{
    background-color: blue;
}


.title{
    width: 100%;
    background-color: var(--secondary);
    padding: 8px 10px ;
    border-radius: 10px;
    display: flex;
    justify-content: space-between ;
    h1,h2,h3,h4,h5,h6{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color:inherit;
        &::after{
            content: ' →'; 
        }
    }
}

.book_card{
    user-select: none;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    grid-column: var(--colsOfCard);
    box-shadow: 0 0 1px var(--foreground);
    background-color: var(--secondary);
    color: inherit;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-decoration: none;
    padding-bottom: 10px;
    img{
        width: 100%;
        aspect-ratio: 1/1.4;
        object-fit: cover;
    }
    h1,h2,h3,h4,h5,h6{
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-clamp: 1;
        overflow: hidden;
        padding: 10px 0 0 10px;
        margin: 0;
    }
    p{
        padding-left: 20px;
        color:grey;
    }


}



.generalinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px; 
    margin: 50px 0;
    border-radius: 20px;   
    background: var(--secondary);
    grid-column: span 4;
}