@keyframes loading {
    0%,
    100% {
        stroke-dashoffset: 301%;
    }
    99% {
        stroke-dashoffset: 0;
    }
}
#banner {
    position: relative;
    cursor: none;
    overflow: hidden;
    user-select: none;
    #handlebannerimg {
        z-index: 2;
        margin: 3%;
        position: absolute;
        bottom: 0;
        right: 0;
        button {
            user-select: none;
            position: relative;
            background: none;
            border: none;
            margin: 0 5px;
            svg {
                width: 30px;
                aspect-ratio: 1/1;
                transform: rotate(-90deg);
                border-radius: 50%;
                border: solid grey 1px;
                circle {
                    height: 100%;
                    width: 100%;
                    aspect-ratio: 1/1;
                    stroke-width: 7;
                    stroke: none;
                    fill: none;
                    stroke-linecap: round;
                    stroke-dasharray: 305%;
                    stroke-dashoffset: 301%;
                    animation: none;
                }
            }
            span.bannerspan {
                color: grey;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.active svg>circle{
                stroke: white ;
                animation: loading 4s linear forwards ;
            }
            &.active >.bannerspan {
                color: white;
            }
        }
        &:hover + #bannercursor {
            opacity: 0 !important;
        }
    }
    #bannercursor {
        opacity: 0;
        position: absolute;
        border-radius: 50%;
        z-index: 1;
        user-select: none;
        /* transition: left 90ms ease, top 90ms ease; */
        /* transition: 100ms; */
        svg {
            border-radius: 50%;
            transform: rotate(-90deg);
            circle {
                stroke-width: 5;
                stroke: black;
                fill: white;
                stroke-linecap: round;
                stroke-dasharray: 305%;
                animation: none;
            }
            circle.active{
                animation: loading 4s linear forwards ;
            }
        }
        span.bannerspan {
            color: grey;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    #bannercursor.hide {
        opacity: 0;
    }
    /* > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 0;
    } */
}