nav{
    height: 80px;
    background-color: #272727;
    color:white;
    a{
        color:white;
        text-decoration: none;
    }
    & + *:not(#banner) {
        margin-top: 10px;
    }
    #bookdt > summary{
        list-style: none;
        cursor: pointer;
    }
    #bookbycata{
        z-index: 10;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        background-color: var(--secondary);


        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
        hr{
            margin: 1px;
        }
        a{
            width: 100%;
            margin: 10px 5px;
            color: var(--foreground) !important;

        }
        
    }
    .regis{
        grid-column: 11/13;    
    }
}
